// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.field{
    float: left;
    padding-right: 1em;
    span {
        font-weight: bold;
    }
}
div.clear{
    clear: both;
}
div.label{
    font-size: 80%;
}
div.bolded{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
}
div.sub-bolded{
    font-weight: normal;
}
div.member_interest_field{
    float: left;
    padding-right: 3em;
    text-align: center;
}

table#member_activity {
    border-collapse: separate;
    th { 
        background-color: aqua;
        text-align: center;
    }
}
table#member_team_members th{
    text-align: center;
}