<p id="notice"><%= notice %></p>

<h1>Welcome to Rocklin High's Page</h1>

<table>
  <thead>
    <tr>
      <th>Here are the Teams:</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= h team.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>