<p id="notice"><%= notice %></p>

<h1>Welcome to Organziation Home</h1>

<% @teams.each do |team| %>
  <div id="team_activity_chart">
    <div class="bolded">Team Activity</div>
    </div>
<% end %>
</div>
<div class="clear"></div>
<br>