<footer>
    <div class="container">
        <small>
            The <a href="https://github.com/AK56/SportyApp">Sporty App</a>
            by <a href="https://github.com/AK56">Gurpartap Gill</a>
        </small>
        <nav>
            <ul>
            <li><%= link_to "About",   '#' %></li>
            <li><%= link_to "Contact", '#' %></li>
            <li><%= link_to "News", '#' %></li>
            </ul>
        </nav>
    </div>
</footer>