<% @member.teams.each do |team| %>
	<div id="<%= team.name%>_team"class="field">
		<div id="team_name_value" class="bolded">Team <%= team.name %></div>
		<table id="member_team_members">
			<thead>
				<th>Line Up</th>
			</thead>
			<tbody>
				<% team.members.each do |team_member| %>
					<tr><td><%= team_member.name %></td></tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% end %>